body {
    font-family: Arial, sans-serif;
    background-color: #FFB347;
    text-align: center;
}

header {
    color: #699c44;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
    margin: 20px;
    background-color: #699c44;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 150px; 
}

.team-list {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    background-color: #699c44; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    margin-left: 450px;
    margin-right: 450px;
}

.team-list li {
    font-size: 20px;
}